<a href="https://colab.research.google.com/github/SheenamYadav/TableRecognition/blob/master/HMTLToCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
!pip install html-table-extractor

Collecting html-table-extractor
  Downloading https://files.pythonhosted.org/packages/79/a4/2845f07c4034cd95c15630cdc77c9430ae763ebde41454b2249852cbbcea/html_table_extractor-1.4.0-py2.py3-none-any.whl
Collecting beautifulsoup4==4.5.3
  Downloading https://files.pythonhosted.org/packages/af/a3/9e803f838b3eeb313d45d916d4387cda8572c92e1aafeb53fd43ddb5da2c/beautifulsoup4-4.5.3-py3-none-any.whl (85kB)
     |████████████████████████████████| 92kB 2.5MB/s
Installing collected packages: beautifulsoup4, html-table-extractor
  Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.5.3 html-table-extractor-1.4.0

In [0]:
import os

In [0]:
import pandas as pd
from google.colab import files

In [0]:
import sys
from bs4 import BeautifulSoup
from html_table_extractor.extractor import Extractor
import requests as requests
import pandas as pd

In [0]:
file_count = 1

In [0]:
def htmlToTable(table):
  global file_count
  extractor = Extractor(table)
  extractor.parse()
  print(extractor.return_list())
  #print(extractor.parse())
  os.mkdir(str(file_count)+"/")
  extractor.write_to_csv(path=str(file_count)+"/")
  file_count += 1
  print("Success!")

In [0]:
def findTables(div):
  str_div = str(div)
  str_table = " "
  str_table = str_div[str_div.index("<table"):str_div.index("</table>")+8]
  with open("temp.html",'w') as f:
    f.write(str_table)
  if(str_table == " "):
    return str_table, False
  return str_table, True

In [0]:
def extractFromURL(URL):
  global file_count
  response = requests.get(URL)
  soup = BeautifulSoup(response.text, 'html.parser')
  tables = soup.findAll(lambda tag: tag.name=='table')
  count = file_count
  for table in tables:
    htmlToTable(table)
  print(str(file_count - count)+" : TABLES EXTRACTED.")
  count = file_count
  divs = soup.findAll(lambda tag: tag.name=='div')
  for div in divs:
    table, flag = findTables(div)
    if flag:
      htmlToTable(table)
  print(str(file_count - count)+" : MORE TABLES EXTRACTED.")

In [0]:
URLs = ['https://www.sec.gov/Archives/edgar/data/882835/000088283518000017/a180420q1earningsrelease.htm']
for URL in URLs:
  extractFromURL(URL)

In [0]:
for i in range(1,12):
  print(pd.read_csv(str(i)+"/output.csv"))

In [25]:
response = requests.get(URLs[0])
soup = BeautifulSoup(response.text, 'html.parser')
div = soup.findAll(lambda tag: tag.name=='div')
string = str(div[1])
table_div = string[string.index("<table"):string.index("</table>")+8]
htmlToTable(table_div)

[['', ''], ['', ''], ['Contact Information:\xa0Investor Relations941-556-2601\xa0investor-relations@ropertech.com', 'Roper Technologies, Inc.']]
Success!

In [62]:
!ls

drive  output.csv  sample_data

In [41]:
pd.read_csv("output.csv")

                                          Unnamed: 0                Unnamed: 1
0                                                NaN                       NaN
1  Contact Information: Investor Relations941-556...  Roper Technologies, Inc.